.register-form {
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    height: 80%;
}
.body{
    background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); 
 width: 100%;

}