* {
  margin: 0%;
  padding: 0%;
}

.branding {
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 0px;
  align-items: center;
  background-color: rgb(152, 180, 184);
  color: rgb(255, 255, 255);
  height: 64px;
  padding-left: 70px;
}

span {
  font-size: 25px;
}

.process {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

body {
 
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

._qwet {
  margin-left: -70%;
  padding: 0px 0px 16px;
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.bwd {
  margin-left: 50%;
  color: white;
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #504c4c; */
  border-radius: 1px;
  margin-top: 27px;
}

form {
  background-color: rgb(243, 245, 248);
  /* background-color: #8b7676; */
  border-radius: 6px;
  padding: 20px;
  box-shadow: 1px 1px 11px rgb(161, 160, 160);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 300px;
  height: 40px;
  border: groove;
  outline: none;
}

input,
select {
  padding: 8px;
  width: 100%;
  color: #3f3838;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 5px;
}

.submit {
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  margin-left: 85%;
  margin-top: 15px;
}

.footer {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
}

.form-grouptw {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
  /* margin-left: 40px; */

}

.form-group-cx {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
}

.header {
  margin-top: 70px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.Loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: groove;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* Darker background */
  z-index: 9999;
}

.Loader-spinner {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  /* White border at the top */
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tables {
  display: block;
  overflow-x: auto;
}

.error {
  color: red;
  display: flex;
  flex-direction: column;
}

.title {
  width: 70px;
  /* border-style: groove; */
}

.email {
  width: 290px;
  margin-left: 1px;
  /* border-style: groove; */
}

.phone {
  width: 250px;
  /* border-style: groove; */
}

.addw {
  width: 560px;
  /* border-style: groove; */
}

.date {
  width: 120px;
  /* border-style: groove; */
}

.ename {
  width: 160px;
  /* border-style: groove; */

}

/* .we-er{
  display: flex;
} */
.reset {
  background-color: green;
  border: none;
  border-radius: 4px;
  margin-left: -30%;
  width: 70px;
  padding: 10px;
  font-size: 17px;
  color: white;
}