body{
  background-image: url("../public/images/images.jpg");
  background-size:cover;
  background-image: center;
 
}
.container{
  background-image: url("../public/images/image.jpg");
  background-size: cover;
  background-image: center; 
  background-repeat: no-repeat;
  width: fit-content;
}